
<div class="bg"> 
   <!-- <div class="container">
    <div class="main-body">
      <div class="row gutters-sm"> -->
  
        <!-- <div class="col-md-8" style="padding-top: 2rem;"> -->
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 2rem;">
          <mat-card class="box">
            <mat-card-header>
              <mat-card-title style="padding-bottom: 1rem;">Enter Package Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Duration</h4>
                  </div>
                  <div class="col-sm-9 text-secondary form-group">
                      <input type="text"  [(ngModel)]="form.duration" value={{form.duration}} name = "duration" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Location</h4>
                  </div>
                  <div class="col-sm-9 text-secondary form-group">
                      <input type="text" [(ngModel)]="form.location" value={{form.location}} name = "location" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Accomodation</h4>
                  </div>
                  <div class="col-sm-9 text-secondary form-group">
                    <input type="text" [(ngModel)]="form.accomodation" value={{form.accomodation}} name = "accomodation" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Itinerary</h4>
                  </div>
                  <div class="col-sm-9 text-secondary form-group">
                    <textarea type="text" [(ngModel)]="form.itinerary" value={{form.itinerary}} name = "itinerary" [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Services</h4>
                  </div>
                  <div class="col-sm-9 text-secondary form-group">
                    <textarea type="text" [(ngModel)]="form.included" value={{form.included}} name = "included" [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Price</h4>
                  </div>
                  <div class="col-sm-9 text-secondary form-group">
                    <input type="text" [(ngModel)]="form.price" value={{form.price}} name = "price" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-9 text-secondary form-group">
                      <button type="button" class="btn btn-primary px-4" id="saveChanges"
                    (click)='savePackage()' style="background-color:#0b214d">Add Package</button>
                  </div>
                </div>
                <div class="alert alert-warning" *ngIf=" isNotAdded">
                  Package not added!<br />{{ errorText }}
                </div>
                <!-- <div class="alert alert-success" *ngIf="isPackage">
                  Your package is successfully added!
                </div> -->
              </form>
              <div class="alert alert-success" *ngIf="isPackage">
                Your package is successfully added!
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        
      <!-- </div>
    </div>
  </div> -->
</div>
      
    
  