<mat-toolbar color="primary" class="app-header">
    <span><a style="font-size: medium;" mat-button routerLink="home-page" routerLinkActive="active">Home</a></span>
    <span class="spacer"></span>
    <div routerLinkActive="active" *ngIf="!isLoggedIn"> 
      <a style="font-size: medium;" mat-button routerLink="login">Log in</a>
      <a style="font-size: medium;" mat-button routerLink="register">Register</a>
    </div>
    <div routerLinkActive="active" *ngIf="isLoggedIn">
      <a style="font-size: medium;" mat-button *ngIf="isTourist" (click)="addReview()" name = "addreview" routerLink="list-booked-packages" routerLinkActive="active">Add Review</a>
      <a style="font-size: medium;" mat-button (click)="viewProfile()">{{name}}</a>
      <a style="font-size: medium;" mat-button (click)="logout()">LogOut</a>
    </div>
</mat-toolbar>
  
