body,
html {
  height: 100%;
}

.bg {
  /* The image used */
//   background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  background-image: url("../../assets/images/placelist.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: scroll;
//   background-size: contain;
}
.main-body {
    position: relative;
    top:60px;
    padding: 15px;
}

.mat-card{
    background-color: rgba(250, 251, 250, 0.587);
}
.mat-card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.mat-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    // word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.mat-card-body {
    flex: 1 1 auto;
    height: 100%;
    min-height: 1px;
    padding: 1rem;
}


.example-card {
    max-width: 100%;
    margin-bottom: 8px;
  }

  .add-package{
    // position:absolute;
    position: relative;
    top:70px;
  }

  .card-position{
    position:relative;
    top:70px;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position : relative;
    top: 200px;
    left: 150px;
    transform: translate(-50%, -50%);
  }

  .myclass {
    position: absolute;
    left: 0px;
    top : 0px;
  }