// .spacer {
//   flex: 1 1 auto;
// }
.info_section {
    position: absolute;
    // top: 800px;
    width: 100%;
    background-color: #0b214d;
    color: #ffffff;
    padding: 75px 0 30px 0;
    font-size: small;
  }
  
  .info_section .info_col {
    margin-bottom: 40px;
  }
  
  .info_section h5 {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Russo One', sans-serif;
  }
  
  .info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
  }
  
  .info_section .info_form button {
    display: inline-block;
    padding: 10px 45px;
    border: 1px solid #54e346;
    background-color: #54e346;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .info_section .info_form button:hover {
    background-color: transparent;
    color: #54e346;
  }
  
  .info_section .info_form button img {
    width: 20px;
  }
  
  .info_section .info_contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .info_section .info_contact a i {
    margin-right: 10px;
  }
  
  .info_section .info_contact a:hover {
    color: #54e346;
  }
  
  .info_section .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  
  .info_section .social_box a {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    color: #54e346;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .info_section .social_box a:hover {
    background-color: #54e346;
    color: #ffffff;
  }
  
  .containernew {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .info_contact {
    a {
      display: flex;
      align-items: center;
      color: white;
      margin-bottom: 10px;

      i {
        margin-right: 10px;
      }
    }
  }

