<div class="bg">
  <div class="container">
    <div class="main-body">
     <div class="row gutters-sm">

          <div class="col-md-4" style="padding-top: 2rem;">
              <mat-card class="mat-elevation-z4">
                <mat-card-content>
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="assets/images/profile_image.jpeg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{userProfile.name}}</h4>
                      <p class="text-secondary">{{userProfile.about}}</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
          </div>



            <div class="col-md-8" style="padding-top: 2rem;">
              <mat-card class="mat-elevation-z4">
                <mat-card-header>
                  <mat-card-title>Profile</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Full Name</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userProfile.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Email</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userProfile.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Age</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userProfile.age}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Address</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userProfile.address}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Location</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userProfile.location}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Vehicle</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userProfile.vehicle}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        <button type="button" class="btn btn-primary px-4"
                        (click)='editInfoPage()'>Edit Profile</button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
      </div>
    </div>


        <div *ngIf="guidePackage.length!=0">
          <div class="content" style="padding-top: 8rem;">
            <mat-card-header>
              <mat-card-title style="color: rgba(19, 19, 32, 0.901);">Your Packages</mat-card-title>
            </mat-card-header>
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let package of guidePackage">
                <mat-card class="mat-elevation-z4">
                  <mat-card-header>
                    <mat-card-title>{{package.location}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Accomodation</h4>
                      </div>
                      <div class="col-sm-9 text-secondary text-center">
                        {{package.accomodation}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Included</h4>
                      </div>
                      <div class="col-sm-9 text-secondary text-center" >
                        {{package.included}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Duration</h4>
                      </div>
                      <div class="col-sm-9 text-secondary text-center">
                        {{package.duration}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Itinerary</h4>
                      </div>
                      <div class="col-sm-9 text-secondary text-center">
                        {{package.itinerary}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Price</h4>
                      </div>
                      <div class="col-sm-9 text-secondary text-center">
                        {{package.price}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9 text-secondary">
                          <button type="button" class="btn btn-primary px-4"
                          (click)='editInfoPage()'>Edit</button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
  
